body {
	background-color: rgb(184, 134, 245);
	cursor: url('cursors/wii-pointer-ccw.cur'), auto;
}
h1{
	margin-top: 5px;
	font-family: Comic Sans ms;
	text-align: center;
}
h2{
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: 'pixter-granularregular';
    src: url('font/pixter_granular-webfont.woff2') format('woff2'),
         url('font/pixter_granular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	text-align: center;
}
a:link {
  color: rgb(91, 206, 250);
  text-decoration: none;
}
a:visited {
    color: rgb(115, 0, 255);
    text-decoration: none;
}
a:hover {
    color: rgba(0, 0, 0, 0);
    text-decoration: underline;
	cursor: url('cursors/wii-pointer-blue-ccw.cur'), auto;
}

hr {
	color: rgb(115, 0, 255);
	max-width: 1100px;
	width: 90%;
	margin: 15 100;
	text-align: left;
}
nav{
	text-align: center;
}

img.wiipng{
	display: block;
	width: 200px;
	height: 200px;
	margin: auto;
}

@font-face {
    font-family: 'pixter-granularregular';
    src: url('font/pixter_granular-webfont.woff2') format('woff2'),
         url('font/pixter_granular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p {
	font-family: 'pixter-granularregular';
}

nav {
	font-family: 'pixter-granularregular';
}

a[href^="http"]:not(:has(img)) {
	background-image: url(assets/external-link.svg);
	background-repeat: no-repeat;
	background-position: top right;
	padding-right: 0.6em;
}

.navtext * {
	all: initial;
	font-family: 'pixter-granularregular';
  }

  .flashbang {
	width: 32px;
	height: 32px;
	margin: 500px 0 0;
	text-align: left;
}